{% extends "layout.html" %}

{% block content %}
    <div class="content-section">

        <form method="POST" action="">

            {{ form.hidden_tag() }}

            <fieldset class="form-group">

                <div class="form-group">
                    {{ form.OldPassword.label(class="form-control-label") }}

                    {% if form.OldPassword.errors %}
                        {{ form.OldPassword(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.OldPassword.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.OldPassword(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.NewPassword.label(class="form-control-label") }}

                    {% if form.NewPassword.errors %}
                        {{ form.NewPassword(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.NewPassword.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.NewPassword(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.ConfirmNewPassword.label(class="form-control-label") }}
                    {% if form.ConfirmNewPassword.errors %}
                        {{ form.ConfirmNewPassword(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ConfirmNewPassword.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.ConfirmNewPassword(class="form-control form-control-lg") }}
                    {% endif %}

                </div>

            </fieldset>

            <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info")}}
            </div>

        </form>
    </div>



{% endblock content %}
